*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  line-height: var(--font-line-normal);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "cv11", "ss01";
}
button {
  font-family: inherit;
}
::selection {
  background: var(--color-brand-100);
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
